
.header{
    background: rgba(15, 126, 201, 0.534);
    padding: 1%;
    z-index: 100;
    box-shadow: 0 5px 25px rgba(0,0,0,.015);
    -webkit-box-shadow:  0 5px 25px rgba(0,0,0,.015);
    border-radius: 20px;
    width: 98%;
    height: 10vw;
    font-size: calc(16px + 2vw);
    text-align: center;
    color: aliceblue;
}
.headerIn{
    margin-top: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: calc(16px + 2vw);
    max-height: 20%;
}
.headerIn *:first-child{
    font-size: calc(8px + 1vw);
}
.header_fixed span{
    padding: 1vw;
}
.header_fixed{
    position: fixed;
    left: 0;
    top: 0;
    height: calc(54px + 3vw);
    font-size: calc(8px + 1vw);
    justify-self: center;
    text-align: center;
}
.header_fixed .headerIn *{
    font-size: calc(8px + 1vw);
}
.header_fixed .headerIn *:first-child{
    font-size: calc(6px + 0.8vw);
}

body{
    text-align: center;
    background: rgba(129, 241, 172,1);
}
.page{
    max-width: 1600px;
    margin: 0 5%;
    margin-top: 3%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.pageContainer{
    background: bisque;
    justify-content: center;
    border-radius: 12px;
}
.genInfo, .contactsContainer,.photoContainer{
    width: 100%;
    display: flex;
    padding: 1%;
    font-size: calc(12px + 1vw);
    gap: 3vw;
}
.genPhoto{
    width: 50vw; 
    min-width: 50px;
    height: auto;
    max-height: 35vw;
    border-radius: 10px;
}
.textInfo{
    width: inherit;
    max-width: 30vw;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}
.locationContainer{
    text-align: center;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    width: 30vw;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    
}
.location{
    padding:3%;
    width: inherit;
    padding: 4%;
    text-decoration: none;
    color: black;    
    font-size: calc(8px + 1vw);
}
.siteMenu{
    margin-top: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}
.siteMenu *{
    text-decoration: none;
    color: #fff ;
    background: rgb(7, 102, 131);
    margin-top: 1vh;
    border-radius: 10px;
}
.siteMenu *:hover{
    transform: scale(1.2);
}
.contactsContainer, .photoContainer, .aboutContainer{
    display: flex;
    flex-direction: column;
    max-width: 85vw;
}
.contactsHeader,.photoHeader, .aboutHeader, .roomHeader{
    margin-top: 1vw;
    text-align: center;
    background: rgb(7, 102, 131);
    border-radius: 8px;
    padding: 1vh;
    color: #fff;
    font-size: calc(8px + 1.5vw);
}
.social_img{
    width: 5vw;
    height: 5vw;
}
.contacts{
    box-sizing: border-box;
    display: flex;
    text-align: center;
    max-width: 100%;
    justify-content: center;
    gap: 6vw;
}
.contacts *{
    display: flex;
    text-decoration: none;
    color: black;
    max-width: 10vw;
}
.contacts * a{
    font-size: calc(6px + 1vw);
    margin-top: 1.5vw;  
    white-space: nowrap;
}
.photoList{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
}
.photoList *{
    width: 50vw; 
    min-width: 200;
    height: auto;
    max-height: 35vw;
    border-radius: 10px;
    
}
.telephone, .whatsapp{
    margin-left: 0;
    max-width: 40vw;
    display: flex;
    flex-direction: column;
}
.telephone *, .whatsapp * {
    box-sizing: content-box;
}

.numbers:hover{
    transform: scale(1.3);
}
.photoList input{
    padding: 1vw;
    width: 4vw;
    border: none;
    font-size: calc(20px+ 1vw);
    background-color: rgb(7, 102, 131);
    color: #fff;
    justify-content: center;
}
.photoList img:hover{
    transform: scale(1.5);
}
.photoList input:hover{
    opacity: 0.7;
}
.about{
    font-size: calc(8px + 1.3vw);
    padding: 3%;
    text-indent: 3vw;
}
.numbers{
    display: flex;
    flex-direction: row;
}
.aboutContainer{
    padding: 1vw;
}
.roomList{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    padding: 1vw;
}
.room{
    background: #fff;
    padding: 1vw;
    border-radius: 10px;
}
.room a{
    color: blue;
    text-decoration: underline;
}
.opacity img, .bed img{
    width: 3vw;
    vertical-align: middle;
}
.opacity, .bed {
    font-size: calc(8px + 0.5vw);
}
.room:hover{
    transform: scale(1.25);
    box-shadow: 1vw 1vw 1vw 1vw rgba(0, 0, 0, .3);
}
.tags *{
    max-width: 30vw;
    display: flex;
    flex-direction: row;
}
.quad, .mountain{
    border-radius: 10px;
    border: 1px solid black;
    width: fit-content;
    padding: 0.5vw;
    height: 3vw;
}
.quad *, .mountain *{
    width: 3vw;
    vertical-align: middle;
}
 .toPreview *{
    max-width: 100%;
    max-height: 100%;
}
.toPreview{
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    z-index: 120;
    position: fixed;
    top: 0;
    text-align: center;
}

.toPreview .buttonExitContainer{
    text-align: right;
}
.toPreview input{
    text-align: center;
    margin-right: 4vw;
    font-size: calc(8px + 1vw);
    width: calc(8px + 5vw);
    height: calc(8px + 5vw);
    border-radius: 5vw;
   
}
.exitButton:hover{
   animation: exit .3s linear forwards ;
}
@keyframes exit{
    0%{
        background: inherit;
        color: inherit;
       
    }
    50%{
        transform: rotate(90deg);
    }
    100%{
   background: rgba(3, 4, 4, 0.678);
        transform: rotate(180deg);
    }
}
.toPreview img{
    width: 80vw;
    height: 60vw;
    border-radius: 3vw;
}